<%= form_with(model: Comment.new,
              local: true,
              data: { turbo_frame: "comments",
                      action: "submit->comments#checkSubmission" }) do |f| %>

  <%= f.hidden_field :parent_id, value: parent_id %>
  <%= f.hidden_field :commentable_id, value: commentable_id %>
  <%= f.hidden_field :commentable_type, value: commentable_type %>
  <%= hidden_field_tag :return_path, request.fullpath %>

  <%= f.text_area(:content, rows: 3, placeholder: "Write your comment...", class: "tinymce w-full p-2 rounded border", data: { controller: "tinymce" }) %>

  <div class="mt-2">
    <%= f.submit "Post Comment", class: "bg-operately-blue text-white px-4 py-2 rounded hover:bg-operately-dark-blue transition duration-300" %>

    <span class="text-sm ml-4">
      Be kind and considerate.  Review our <%= link_to("Code of Conduct", code_of_conduct_path, class: "text-operately-blue hover:text-operately-dark-blue underline") %> before commenting.
    </span>
  </div>
<% end %>
