<% title = "#{@total_count} #{@subcategory.name} KPIs in #{@category.name}" -%>
<% set_page_title(title) -%>

<% content_for :head do -%>
  <%= meta_description("Dive deeper into #{@category.name} KPIs by exploring #{@total_count} #{@subcategory.name}.") %>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@operately">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="og:description" content="<%= "Dive deep into #{@category.name} KPI examples." %>">
  <meta name="twitter:image" content="<%= image_url("summary-card.jpg") %>">
  <meta name="og:image" content="<%= image_url("summary-card.jpg") %>">
<% end -%>

<div class="flex flex-row items-center space-x-2">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <%= link_to(category_url(@category), class: "text-operately-blue hover:text-operately-dark-blue underline", itemprop: "item") do %>
        <span itemprop="name"><%= @category.name %></span></a>
    <% end %>
    <meta itemprop="position" content="1" />
    </li>
  </ol>
</div>

<h1 class="text-4xl font-bold mt-2"><%= to_nearest_five_or_zero(@total_count) %> <%= @subcategory.name %> KPIs</h1>

<div class="mt-4">
  <% @kpis.each do |kpi| -%>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out mb-4">
      <%= link_to(kpi.name, category_kpi_path(kpi.category, kpi), class: "text-2xl font-bold text-operately-blue hover:text-operately-dark-blue underline") %>
      <%= unit_emoji_tag(kpi.unit) %>
      <p class="text-gray-700 mt-2"><%= substring_until_period(kpi.description) %></p>
    </div>
  <% end -%>

  <%= paginate @kpis %>
</div>
