<% set_page_title("#{@total_count} results for '#{@query}'") -%>

<h1 class="text-4xl font-bold mt-2"><%= @total_count %> search results for '<%= @query %>'</h1>

<div class="mt-4">

  <% @kpis.each do |kpi| -%>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out mb-4">
      <div class="mb-2">
        <span><%= link_to(kpi.category.name, kpi.category, class: "text-operately-blue hover:text-operately-dark-blue") %></span>
      </div>
      <%= link_to(kpi.name, category_kpi_path(kpi.category, kpi), class: "text-2xl font-bold text-operately-blue hover:text-operately-dark-blue underline") %>
      <%= unit_emoji_tag(kpi.unit) %>
      <p class="text-gray-700 mt-2"><%= substring_until_period(kpi.description) %></p>
    </div>
  <% end -%>

  <%= paginate @kpis %>
</div>
