<%= render("kpis/show/head") %>

<%= render("kpis/show/breadcrumbs") %>

<h1 class="text-4xl font-bold mt-2"><%= @kpi.name %></h1>

<p class="text-lg text-gray-500"><%= @kpi.unit.capitalize %></p>

<div class="text-gray-800">
  <%= render(partial: "kpis/show/summary") %>
  <%= render(partial: "kpis/show/votes") %>
  <%= render(partial: "kpis/show/comments", locals: { kpi: @kpi }) %>
  <%= render(partial: "kpis/show/other_kpis") %>
</div>
