<% set_page_title("KPI Examples - Your Ultimate Guide to Key Performance Indicators", full: true) -%>

<% content_for :head do -%>
  <%= meta_description("Explore a comprehensive, open-source library of key performance indicators (KPIs) across various business functions. Understand, measure and improve your performance with KPI Examples.") %>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@operately">
  <meta name="twitter:title" content="KPI Examples | Open Source KPI Library by Operately">
  <meta name="og:title" content="KPI Examples | Open Source KPI Library by Operately">
  <meta name="og:description" content="A simple website to find the right KPIs for your work.">
  <meta name="twitter:image" content="<%= image_url("homepage-card.jpg") %>">
  <meta name="og:image" content="<%= image_url("homepage-card.jpg") %>">
<% end -%>

<div>
  <h1 class="font-bold text-4xl">KPI Examples: Your Ultimate Guide to Key Performance Indicators</h1>

  <p class="mt-4">If you manage a team, chances are you need to measure progress. Enter <span class="font-semibold">Key Performance Indicators (KPIs)</span>: quantifiable metrics used to evaluate the success of an organization or of a particular activity in which it engages.</p>
  <p class="mt-4"><span class="italic">KPI Examples</span> is an extensive, <a href="/about" class="text-operately-blue hover:text-operately-dark-blue underline">open-source</a> library of business metrics designed to empower you, whether you're a startup entrepreneur, an established business leader, or an ambitious professional keen on optimizing performance.</p>

  <div class="mt-4 mb-12">
    <h2 class="text-2xl mt-8 font-semibold">Explore Categories of KPI Examples</h2>

    <p class="mt-4">Discover the right KPIs to measure your business goals based on your industry and interests:</p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <% @categories.each do |category| -%>

        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
          <a href="<%= category_path(category) %>" class="block">
            <div class="rounded-lg overflow-hidden bg-cover bg-center h-32 md:h-48 relative" style="background-image: url(<%= category_illustration_url(category) %>)">
              <span class="absolute inset-0 flex items-center justify-center">
                <span class="px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md"><%= category.name.titleize %></span>
              </span>
            </div>
            <p class="pt-4 mt-2 text-gray-600"><%= category.summary %></p>
          </a>
        </div>
      <% end -%>
    </div>

    <p class="mt-8">No matter your sector or industry, our goal with <span class="italic">KPI Examples</span> is to provide a wealth of information to help you optimize performance and align your team's actions with overarching business objectives.</p>

    <p class="mt-4"><span class="font-medium">Haven't found what you're looking for?</span> We add new KPIs and categories every week. Bookmark this and check back in a bit—or just <a href="/about#contact" class="text-operately-blue hover:text-operately-dark-blue underline">tell us what you were looking for</a>.</p>

    <%= render "pages/home/longform" %>

  </div>
</div>
