<% content_for :head do -%>
  <%= meta_description("Explore a comprehensive, open-source database of key performance indicators (KPIs) across various business functions. Understand, measure and improve your performance with KPI Examples.") %>
<% end -%>

<div>
  <h1 class="font-bold text-4xl">Find the right KPIs for your work</h1>

  <p class="mt-4">Use the right metrics to succeed. KPI Examples is an
    open-source database of business KPIs that empowers you to optimize
    performance, align goals, and foster a data-driven culture.</p>

  <div class="mt-4">
    <h2 class="text-xl">Explore categories</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <a href="/customer-success" class="rounded-lg overflow-hidden flex items-center justify-center bg-cover bg-center text-white font-bold text-2xl h-32 md:h-48" style="background-image: url(<%= asset_url('customer-success.png') %>);">
        <span class="relative z-10 px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md">Customer Success</span>
      </a>
      <a href="/customer-support" class="rounded-lg overflow-hidden flex items-center justify-center bg-cover bg-center text-white font-bold text-2xl h-32 md:h-48" style="background-image: url(<%= asset_url('customer-support.png') %>)">
        <span class="relative z-10 px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md">Customer Support</span>
      </a>
      <a href="/finance" class="rounded-lg overflow-hidden flex items-center justify-center bg-cover bg-center text-white font-bold text-2xl h-32 md:h-48" style="background-image: url(<%= asset_url('finance.png') %>);">
        <span class="relative z-10 px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md">Finance</span>

      </a>
      <a href="/product" class="relative rounded-lg overflow-hidden flex items-center justify-center bg-cover bg-center text-white font-bold text-2xl h-32 md:h-48" style="background-image: url('<%= asset_url('product.png') %>');">
        <span class="relative z-10 px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md">Product</span>
      </a>
    </div>
  </div>
</div>
