<% set_page_title("KPI Examples by Operately", full: true) -%>

<% content_for :head do -%>
  <%= meta_description("Explore a comprehensive, open-source database of key performance indicators (KPIs) across various business functions. Understand, measure and improve your performance with KPI Examples.") %>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@operately">
  <meta name="twitter:title" content="KPI Examples | Open Source KPI Database by Operately">
  <meta name="og:title" content="KPI Examples | Open Source KPI Database by Operately">
  <meta name="og:description" content="A clean, minimalist website to find the right KPIs for your work.">
  <meta name="twitter:image" content="<%= image_url("homepage-card.jpg") %>">
  <meta name="og:image" content="<%= image_url("homepage-card.jpg") %>">
<% end -%>

<div>
  <h1 class="font-bold text-4xl">Find the right KPIs for your work</h1>

  <p class="mt-4">Use the right metrics to succeed. KPI Examples is an
    open-source database of business KPIs that empowers you to optimize
    performance, align goals, and foster a data-driven culture.</p>

  <div class="mt-4">
    <h2 class="text-2xl mt-8 font-semibold">Explore categories <span class="text-sm font-light">(new ones added every week)</span></h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">

      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <a href="/customer-service" class="rounded-lg overflow-hidden flex items-center justify-center bg-cover bg-center text-white font-bold text-2xl h-32 md:h-48" style="background-image: url(<%= asset_url('customer-service.png') %>)">
          <span class="relative z-10 px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md">Customer Service</span>
        </a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <a href="/finance" class="rounded-lg overflow-hidden flex items-center justify-center bg-cover bg-center text-white font-bold text-2xl h-32 md:h-48" style="background-image: url(<%= asset_url('finance.png') %>);">
          <span class="relative z-10 px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md">Finance</span>

        </a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <a href="/product" class="relative rounded-lg overflow-hidden flex items-center justify-center bg-cover bg-center text-white font-bold text-2xl h-32 md:h-48" style="background-image: url('<%= asset_url('product.png') %>');">
          <span class="relative z-10 px-2 py-1 bg-black bg-opacity-60 text-white text-lg font-bold rounded-md">Product</span>
        </a>
      </div>
    </div>
  </div>
</div>
