<footer class="p-12 text-sm text-center bg-gray-100">
  <p class="mb-4"><%= link_to("KPI Examples", root_path, class: link_classes) %> — An open source KPI library to find the right metrics for your work.</p>
  <ul class="list-inline mx-auto mb-4">
    <li class="inline"><%= link_to("Home", root_path, class: link_classes) %></li>
    <li class="dot inline"></li>
    <li class="inline"><%= link_to("About", about_path, class: link_classes) %></li>
    <li class="dot inline"></li>
    <li class="inline"><%= link_to("Contribute", contribute_path, class: link_classes) %></li>
    <li class="dot inline"></li>
    <li class="inline"><%= link_to("FAQ", faq_path, class: link_classes) %></li>
    <li class="dot inline"></li>
    <li class="inline"><%= link_to("Code of Conduct", code_of_conduct_path, class: link_classes) %></li>
    <li class="dot inline"></li>
    <li class="inline"><%= link_to("Source Code", "https://github.com/operately/kpiexamples", rel: "external", class: link_classes) %></li>
  </ul>
  <p>Made with love by <%= link_to("Operately", "https://operately.com", rel: "me", class: link_classes) %>. KPI Examples © 2023.</p>
</footer>
