<% set_page_title("#{@category.name} KPI Examples", full: true) -%>

<% content_for :head do -%>
  <%= meta_description("Discover a comprehensive list of #{@category.name} KPIs to measure and improve your performance. Find detailed definitions, formulas, and examples of key #{@category.name} performance indicators to guide your decision-making process.") %>
<% end -%>

<h1 class="text-4xl font-bold mt-2"><%= @category.name %></h1>

<div class="mt-4">
  <% @kpis.each do |kpi| -%>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out mb-4">
      <%= link_to(kpi.name, category_kpi_path(kpi.category, kpi), class: "text-2xl font-bold text-operately-blue hover:text-operately-dark-blue underline") %>
      <span> <%= emoji_for_unit(kpi.unit) %> </span>
      <p class="text-gray-700 mt-2"><%= substring_until_period(kpi.description) %></p>
    </div>
  <% end -%>
</div>
