<!DOCTYPE html>
<html>
  <head>
    <title>KPI Examples</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans leading-normal tracking-normal">
    <%= render "layouts/application/header" %>

    <main class="app-left-margin mt-10 px-4 max-w-prose">
      <%= yield %>
    </main>
  </body>

  <%= render "layouts/application/footer" %>
</html>
