<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "layouts/application/icons" %>

    <%= yield :head %>
  </head>

  <body class="flex flex-col min-h-screen font-sans leading-normal tracking-normal">
    <%= render "layouts/application/header" %>

    <main class="app-left-margin mt-10 px-4 md:px-8 max-w-prose flex-grow text-xl">
      <%= yield %>
    </main>
  </body>

  <%= render "layouts/application/footer" %>
</html>
